# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# production
build
dist

# database
data

# misc
.DS_Store

# local env files
.env
.env*
!.env.example
!.env.template

npm-debug.log*
yarn-debug.log*
yarn-error.log*
